// colors
$primary: #3993d5;

// Display headings
$display-font-weight: 500;

// font family
$font-family-sans-serif: Nunito, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// prefix
$prefix: "bs-";

// Buttons
$round-radius: 30px;

// nav
$nav-link-font-weight: 600;


// buttons + forms
//$input-btn-padding-y:         .53rem;
//$input-btn-padding-x:         1rem;
$input-btn-font-size:         1rem;

//$input-btn-padding-y-sm:      .375rem;
//$input-btn-padding-x-sm:      .875rem;
//$input-btn-font-size-sm:      .875;

//$input-btn-padding-y-lg:      .685rem;
//$input-btn-padding-x-lg:      1.125rem;


// headings
//$btn-font-weight:             600;
$headings-font-weight: 500;


// spacers
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
                (
                        0: 0,
                        1: ($spacer * .25),
                        2: ($spacer * .5),
                        3: $spacer,
                        4: ($spacer * 1.5),
                        5: ($spacer * 3),
                        6: ($spacer * 4),
                        7: ($spacer * 6),
                        8: ($spacer * 8),
                        9: ($spacer * 10),
                        10: ($spacer * 12),
                        11: ($spacer * 14),
                        12: ($spacer * 16)
                ),
                $spacers
);