
//@import "functions";
//@import "variables";
//@import "maps";
//@import "mixins";
//@import "utilities";

// Import Bootstrap functions to use inside variables values
@import '1-frameworks/bootstrap/functions';
//@import '1-frameworks/bootstrap/maps';


// --------------------------------------- !!
// Overwrite specific bootstrap variables by uncommenting the variable and provide your own value
// --------------------------------------- !!

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

//
// Color system
//

$white:                 #fff !default;
$gray-100:              #f9f8fa !default;
$gray-200:              #f5f4f8 !default;
$gray-300:              #efecf3 !default;
$gray-400:              #d5d2dc !default;
$gray-500:              #bbb7c5 !default;
$gray-600:              #9691a4 !default;
$gray-700:            	#666276 !default;
$gray-800:              #454056 !default;
$gray-900:              #1f1b2d !default;
$black:                 #000 !default;


$grays: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);


$blue:    #7832e2 !default;
$indigo:  #502c6c !default;
$purple:  #ad6edd !default;
$pink:    #ff0266 !default;
$red:     #ff5916 !default;
$orange:  #fbb500 !default;
$yellow:  #ffde03 !default;
$green:   #44c553 !default;
$teal:    #09ebaf !default;
$cyan:    #35bdff !default;
$lila:    #b2a5e4 !default;
$salmon:  #ff977a !default;


$colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
                (
                        "blue":       $blue,
                        "indigo":     $indigo,
                        "purple":     $purple,
                        "pink":       $pink,
                        "red":        $red,
                        "orange":     $orange,
                        "yellow":     $yellow,
                        "green":      $green,
                        "teal":       $teal,
                        "cyan":       $cyan,
                        "white":      $white,
                        "black":      $black,
                        "gray":       $gray-600,
                        "gray-dark":  $gray-700
                ),
                $colors
);






//$primary:       $indigo !default;
//$secondary:     $blue !default;
//$success:       $green !default;
//$info:          $teal !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;
//$white:         $white !default;

$primary:       #3993d5 !default;
$secondary:     #6c757d !default;
$success:       $green !default;
$info:          #17a2b8 !default;
$warning:       #ffc107 !default;
$danger:        #dc3545 !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$white:         $white !default;


$theme-colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "primary":    $primary,
                        "secondary":  $secondary,
                        "success":    $success,
                        "info":       $info,
                        "warning":    $warning,
                        "danger":     $danger,
                        "light":      $light,
                        "dark":       $dark,
                        "white":      $white,
                        "purple":     $purple,
                        "salmon":     $salmon,
                        "cyan":       $cyan,
                        "gray":       $gray-400,
                        "gray-dark":  $gray-600,
                        "indigo":     $indigo,
                        "orange":     $orange
                ),
                $theme-colors
);

// Faded colors map
$theme-faded-colors: (
        "primary":    rgba($primary, .1),
        "secondary":  rgba($secondary, .1),
        "success":    rgba($success, .1),
        "info":       rgba($info, .1),
        "warning":    rgba($warning, .1),
        "danger":     rgba($danger, .1),
        "light":      rgba($light, .1),
        "dark":       rgba($dark, .1),
        "white":      rgba($white, .1),
        "purple":     rgba($purple, .1),
        "salmon":     rgba($salmon, .1),
        "cyan":       rgba($cyan, .1),
        "gray":       rgba($gray-400, .1),
        "gray-dark":  rgba($gray-600, .1),
        "indigo":     rgba($indigo, .1),
        "orange":     rgba($orange, .1)
) !default;

// Subtle
$purple-bg-subtle:        tint-color($purple, 80%) !default;
$salmon-bg-subtle:        tint-color($salmon, 80%) !default;
$cyan-bg-subtle:          tint-color($cyan, 80%) !default;
$gray-bg-subtle:          tint-color($gray-400, 80%) !default;
$gray-dark-bg-subtle:     tint-color($gray-600, 80%) !default;
$indigo-bg-subtle:        tint-color($indigo, 80%) !default;
$orange-bg-subtle:        tint-color($orange, 80%) !default;

$utilities-bg-subtle: (
        "primary-subtle": var(--#{$prefix}primary-bg-subtle),
        "secondary-subtle": var(--#{$prefix}secondary-bg-subtle),
        "success-subtle": var(--#{$prefix}success-bg-subtle),
        "info-subtle": var(--#{$prefix}info-bg-subtle),
        "warning-subtle": var(--#{$prefix}warning-bg-subtle),
        "danger-subtle": var(--#{$prefix}danger-bg-subtle),
        "light-subtle": var(--#{$prefix}light-bg-subtle),
        "dark-subtle": var(--#{$prefix}dark-bg-subtle),
        "purple-subtle": var(--#{$prefix}purple-bg-subtle),
        "salmon-subtle": var(--#{$prefix}salmon-bg-subtle),
        "cyan-subtle": var(--#{$prefix}cyan-bg-subtle),
        "gray-subtle": var(--#{$prefix}gray-bg-subtle),
        "gray-dark-subtle": var(--#{$prefix}gray-dark-bg-subtle),
        "indigo-subtle": var(--#{$prefix}indigo-bg-subtle),
        "orange-subtle": var(--#{$prefix}orange-bg-subtle)
);

// emphasis
$purple-text-emphasis:   shade-color($purple, 60%) !default;
$salmon-text-emphasis:   shade-color($salmon, 60%) !default;
$cyan-text-emphasis:   shade-color($cyan, 60%) !default;
$gray-text-emphasis:   shade-color($gray-400, 60%) !default;
$gray-dark-text-emphasis:   shade-color($gray-600, 60%) !default;
$indigo-text-emphasis:   shade-color($indigo, 60%) !default;
$orange-text-emphasis:   shade-color($orange, 60%) !default;

$utilities-text-emphasis-colors: (
        "primary-emphasis": var(--#{$prefix}primary-text-emphasis),
        "secondary-emphasis": var(--#{$prefix}secondary-text-emphasis),
        "success-emphasis": var(--#{$prefix}success-text-emphasis),
        "info-emphasis": var(--#{$prefix}info-text-emphasis),
        "warning-emphasis": var(--#{$prefix}warning-text-emphasis),
        "danger-emphasis": var(--#{$prefix}danger-text-emphasis),
        "light-emphasis": var(--#{$prefix}light-text-emphasis),
        "dark-emphasis": var(--#{$prefix}dark-text-emphasis),
        "purple-emphasis": var(--#{$prefix}purple-text-emphasis),
        "salmon-emphasis": var(--#{$prefix}salmon-text-emphasis),
        "cyan-emphasis": var(--#{$prefix}cyan-text-emphasis),
        "gray-emphasis": var(--#{$prefix}gray-text-emphasis),
        "gray-dark-emphasis": var(--#{$prefix}gray-dark-text-emphasis),
        "indigo-emphasis": var(--#{$prefix}indigo-text-emphasis),
        "orange-emphasis": var(--#{$prefix}orange-text-emphasis)
);

$theme-colors-text-light: (
        "purple": $purple-text-emphasis,
        "salmon": $salmon-text-emphasis,
        "cyan": $cyan-text-emphasis,
        "gray": $gray-text-emphasis,
        "gray-dark": $gray-dark-text-emphasis,
        "indigo": $indigo-text-emphasis,
        "orange": $orange-text-emphasis,
);






//
$enable-negative-margins:     true;
$link-decoration:                         none !default;
$link-hover-decoration:                   underline !default;


// // Options
// //
// // Quickly modify global styling by enabling or disabling optional features.
//
$enable-shadows:            true !default;

//
//
// // Spacing
// //
// // Control the default styling of most Bootstrap elements by modifying these
// // variables. Mostly focused on spacing.
// // You can add more entries to the $spacers map, should you need more variation.
//
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
                (
                        0: 0,
                        1: ($spacer * .25),
                        2: ($spacer * .5),
                        3: $spacer,
                        4: ($spacer * 1.5),
                        5: ($spacer * 3),
                        6: ($spacer * 4),
                        7: ($spacer * 6),
                        8: ($spacer * 8),
                        9: ($spacer * 10),
                        10: ($spacer * 12),
                        11: ($spacer * 14),
                        12: ($spacer * 16)
                ),
                $spacers
);

// // Grid breakpoints
// //
// // Define the minimum dimensions at which your layout will change,
// // adapting to different screen sizes, for use in media queries.
//
// Override grid breaakpoints

$grid-breakpoints: (
        xs: 0,
        sm: 500px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
) !default;

// // Components
$box-shadow-lg:               0 10px 25px 0 rgba($black,.3) !default;

// // Fonts
// // stylelint-disable value-keyword-case
$font-family-sans-serif:      Nunito, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// // stylelint-enable value-keyword-case
//
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.15) !default;
$font-size-smaller:           ($font-size-base * 1) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$small-font-size:             85% !default;

// // Buttons + Forms

$input-btn-padding-y:         .45rem !default;
$input-btn-padding-x:         1.2rem !default;
$input-btn-padding-x-sm:       1rem !default;
$input-btn-padding-y-lg:      .65rem !default;
$input-btn-padding-x-lg:      2rem !default;

// // Dropdown menu container and contents.
$dropdown-item-padding-y:           .45rem !default;

// // Navs
$nav-link-padding-y:                .8rem !default;

// // Navbar
$navbar-nav-link-padding-x:         .9rem !default;
$navbar-dark-color:                 rgba($white, .85) !default;
$navbar-dark-hover-color:           rgba($white, 1) !default;

// // Pagination
$pagination-padding-y:              .75rem !default;
$pagination-padding-x:              1rem !default;

// // Badges
$badge-font-size:                   84% !default;

// // Alerts
$alert-bg-level:                    0 !default;
$alert-border-level:                0 !default;
$alert-color-level:                 0 !default;

// // Code
$code-font-size:                       100% !default;

// --------------------------------------- !!
// Additional theme variables
// --------------------------------------- !!

// Buttons
$round-radius:          30px !default;